In [48]:
import pydst
import pandas as pd

In [29]:
Dst = pydst.Dst(lang='en')

In [30]:
tables = Dst.get_tables(subjects=['02'])

In [31]:
folk_vars = Dst.get_variables(table_id='FOLK1C')

In [32]:
folk_vars

,id,text,elimination,time,map,values
0,OMRÅDE,region,True,False,denmark_municipality_07,"[{'id': '000', 'text': 'All Denmark'}, {'id': ..."
1,KØN,sex,True,False,NaN,"[{'id': 'TOT', 'text': 'Total'}, {'id': '1', '..."
2,ALDER,age,True,False,NaN,"[{'id': 'IALT', 'text': 'Total'}, {'id': '0-4'..."
3,HERKOMST,ancestry,True,False,NaN,"[{'id': 'TOT', 'text': 'Total'}, {'id': '5', '..."
4,IELAND,country of origin,True,False,Verden_dk2,"[{'id': '0000', 'text': 'Total'}, {'id': '5100..."
5,Tid,time,False,True,NaN,"[{'id': '2008K1', 'text': '2008Q1'}, {'id': '2..."

In [33]:
for id in ['OMRÅDE','HERKOMST','IELAND']:
    print(id)
    values = folk_vars.loc[folk_vars.id == id,['values']].values[0,0]
    for value in values:      
        print(f' id = {value["id"]}, text = {value["text"]}')

OMRÅDE
 id = 000, text = All Denmark
 id = 084, text = Region Hovedstaden
 id = 101, text = Copenhagen
 id = 147, text = Frederiksberg
 id = 155, text = Dragør
 id = 185, text = Tårnby
 id = 165, text = Albertslund
 id = 151, text = Ballerup
 id = 153, text = Brøndby
 id = 157, text = Gentofte
 id = 159, text = Gladsaxe
 id = 161, text = Glostrup
 id = 163, text = Herlev
 id = 167, text = Hvidovre
 id = 169, text = Høje-Taastrup
 id = 183, text = Ishøj
 id = 173, text = Lyngby-Taarbæk
 id = 175, text = Rødovre
 id = 187, text = Vallensbæk
 id = 201, text = Allerød
 id = 240, text = Egedal
 id = 210, text = Fredensborg
 id = 250, text = Frederikssund
 id = 190, text = Furesø
 id = 270, text = Gribskov
 id = 260, text = Halsnæs
 id = 217, text = Helsingør
 id = 219, text = Hillerød
 id = 223, text = Hørsholm
 id = 230, text = Rudersdal
 id = 400, text = Bornholm
 id = 411, text = Christiansø
 id = 085, text = Region Sjælland
 id = 253, text = Greve
 id = 259, text = Køge
 id = 350, text = Lejre
 id = 265, text = Roskilde
 id = 269, text = Solrød
 id = 320, text = Faxe
 id = 376, text = Guldborgsund
 id = 316, text = Holbæk
 id = 326, text = Kalundborg
 id = 360, text = Lolland
 id = 370, text = Næstved
 id = 306, text = Odsherred
 id = 329, text = Ringsted
 id = 330, text = Slagelse
 id = 340, text = Sorø
 id = 336, text = Stevns
 id = 390, text = Vordingborg
 id = 083, text = Region Syddanmark
 id = 420, text = Assens
 id = 430, text = Faaborg-Midtfyn
 id = 440, text = Kerteminde
 id = 482, text = Langeland
 id = 410, text = Middelfart
 id = 480, text = Nordfyns
 id = 450, text = Nyborg
 id = 461, text = Odense
 id = 479, text = Svendborg
 id = 492, text = Ærø
 id = 530, text = Billund
 id = 561, text = Esbjerg
 id = 563, text = Fanø
 id = 607, text = Fredericia
 id = 510, text = Haderslev
 id = 621, text = Kolding
 id = 540, text = Sønderborg
 id = 550, text = Tønder
 id = 573, text = Varde
 id = 575, text = Vejen
 id = 630, text = Vejle
 id = 580, text = Aabenraa
 id = 082, text = Region Midtjylland
 id = 710, text = Favrskov
 id = 766, text = Hedensted
 id = 615, text = Horsens
 id = 707, text = Norddjurs
 id = 727, text = Odder
 id = 730, text = Randers
 id = 741, text = Samsø
 id = 740, text = Silkeborg
 id = 746, text = Skanderborg
 id = 706, text = Syddjurs
 id = 751, text = Aarhus
 id = 657, text = Herning
 id = 661, text = Holstebro
 id = 756, text = Ikast-Brande
 id = 665, text = Lemvig
 id = 760, text = Ringkøbing-Skjern
 id = 779, text = Skive
 id = 671, text = Struer
 id = 791, text = Viborg
 id = 081, text = Region Nordjylland
 id = 810, text = Brønderslev
 id = 813, text = Frederikshavn
 id = 860, text = Hjørring
 id = 849, text = Jammerbugt
 id = 825, text = Læsø
 id = 846, text = Mariagerfjord
 id = 773, text = Morsø
 id = 840, text = Rebild
 id = 787, text = Thisted
 id = 820, text = Vesthimmerlands
 id = 851, text = Aalborg
HERKOMST
 id = TOT, text = Total
 id = 5, text = Persons of Danish origin
 id = 4, text = Immigrants
 id = 3, text = Descendant
IELAND
 id = 0000, text = Total
 id = 5100, text = Denmark
 id = 5122, text = Albania
 id = 5124, text = Andorra
 id = 5126, text = Belgium
 id = 5754, text = Bosnia and Herzegovina
 id = 5128, text = Bulgaria
 id = 5422, text = Cyprus
 id = 5607, text = Estonia
 id = 5104, text = Finland
 id = 5130, text = France
 id = 5134, text = Greece
 id = 5706, text = Belarus
 id = 5142, text = Ireland
 id = 5105, text = Iceland
 id = 5150, text = Italy
 id = 5152, text = Yugoslavia
 id = 5758, text = Yugoslavia, Federal Republic
 id = 5761, text = Kosovo
 id = 5750, text = Croatia
 id = 5609, text = Latvia
 id = 5107, text = Liechtenstein
 id = 5611, text = Lithuania
 id = 5108, text = Luxembourg
 id = 5756, text = Macedonia
 id = 5153, text = Malta
 id = 5712, text = Moldova
 id = 5109, text = Monaco
 id = 5759, text = Montenegro
 id = 5140, text = Netherlands
 id = 5111, text = Northern Ireland
 id = 5110, text = Norway
 id = 5154, text = Poland
 id = 5156, text = Portugal
 id = 5158, text = Romania
 id = 5700, text = Russia
 id = 5159, text = San Marino
 id = 5160, text = Switzerland
 id = 5757, text = Serbia
 id = 5151, text = Serbia and Montenegro
 id = 5778, text = Slovakia
 id = 5752, text = Slovenia
 id = 5162, text = Soviet Union
 id = 5164, text = Spain
 id = 5170, text = United Kingdom
 id = 5120, text = Sweden
 id = 5776, text = Czech Republic
 id = 5129, text = Czechoslovakia
 id = 5172, text = Turkey
 id = 5184, text = GDR
 id = 5180, text = Germany
 id = 5704, text = Ukraine
 id = 5174, text = Hungary
 id = 5176, text = Vatican City State
 id = 5182, text = Austria
 id = 5114, text = Europe not stated
 id = 5202, text = Algeria
 id = 5204, text = Angola
 id = 5281, text = Benin
 id = 5207, text = Botswana
 id = 5294, text = Burkina Faso
 id = 5213, text = Burundi
 id = 5277, text = Cameroon
 id = 5276, text = Central African Republic
 id = 5215, text = Comoros
 id = 5278, text = Congo, Democratic Republic
 id = 5279, text = Congo, Republic
 id = 5525, text = Djibouti
 id = 5272, text = Egypt
 id = 5282, text = Ivory Coast
 id = 5216, text = Eritrea
 id = 5214, text = Ethiopia
 id = 5283, text = Gabon
 id = 5222, text = Gambia, The
 id = 5228, text = Ghana
 id = 5232, text = Guinea
 id = 5231, text = Guinea-Bissau
 id = 5233, text = Cape Verde
 id = 5234, text = Kenya
 id = 5235, text = Lesotho
 id = 5236, text = Liberia
 id = 5238, text = Libya
 id = 5242, text = Madagascar
 id = 5297, text = Malawi
 id = 5243, text = Mali
 id = 5244, text = Morocco
 id = 5284, text = Mauritania
 id = 5245, text = Mauritius
 id = 5240, text = Mozambique
 id = 5247, text = Namibia
 id = 5285, text = Niger
 id = 5246, text = Nigeria
 id = 5286, text = Reunion
 id = 5287, text = Rwanda
 id = 5621, text = Sao Tome and Principe
 id = 5288, text = Senegal
 id = 5298, text = Seychelles
 id = 5255, text = Sierra Leone
 id = 5289, text = Somalia
 id = 5256, text = Spanish territories in Africa
 id = 5253, text = Saint Helena
 id = 5258, text = Sudan
 id = 5259, text = Swaziland
 id = 5262, text = South Africa
 id = 5260, text = South Sudan
 id = 5264, text = Southwest Africa
 id = 5266, text = Tanzania
 id = 5292, text = Chad
 id = 5293, text = Togo
 id = 5268, text = Tunisia
 id = 5269, text = Uganda
 id = 5296, text = Zambia
 id = 5295, text = Zimbabwe
 id = 5230, text = Equatorial Guinea
 id = 5299, text = Africa not stated
 id = 5314, text = Canada
 id = 5390, text = USA
 id = 5397, text = North America not stated
 id = 5309, text = Antigua and Barbuda
 id = 5302, text = Argentina
 id = 5301, text = Aruba
 id = 5303, text = Bahamas
 id = 5305, text = Barbados
 id = 5526, text = Belize
 id = 5307, text = Bermuda
 id = 5304, text = Bolivia
 id = 5306, text = Brazil
 id = 5394, text = British West Indies
 id = 5316, text = Chile
 id = 5318, text = Colombia
 id = 5322, text = Costa Rica
 id = 5324, text = Cuba
 id = 5325, text = Curacao
 id = 5345, text = Dominica
 id = 5326, text = Dominican Republic
 id = 5328, text = Ecuador
 id = 5372, text = El Salvador
 id = 5530, text = Falkland Islands
 id = 5529, text = French Guiana
 id = 5336, text = French West Indies
 id = 5339, text = Grenada
 id = 5528, text = Guadeloupe
 id = 5338, text = Guatemala
 id = 5308, text = Guyana
 id = 5342, text = Haiti
 id = 5346, text = Netherlands Antilles
 id = 5348, text = Honduras
 id = 5352, text = Jamaica
 id = 5353, text = Martinique
 id = 5354, text = Mexico
 id = 5310, text = Nauru
 id = 5356, text = Nicaragua
 id = 5358, text = Panama
 id = 5364, text = Paraguay
 id = 5366, text = Peru
 id = 5527, text = Puerto Rico
 id = 5625, text = Saint Kitts and Nevis
 id = 5347, text = Saint Lucia
 id = 5311, text = Saint Vincent and the Grenadines
 id = 5344, text = Suriname
 id = 5374, text = Trinidad and Tobago
 id = 5376, text = Uruguay
 id = 5392, text = Venezuela
 id = 5395, text = West Indies
 id = 5319, text = South and central America not stated
 id = 5535, text = Abu Dhabi
 id = 5404, text = Afghanistan
 id = 5708, text = Armenia
 id = 5710, text = Azerbaijan
 id = 5406, text = Bahrain
 id = 5410, text = Bangladesh
 id = 5408, text = Bhutan
 id = 5412, text = Brunei
 id = 5416, text = Cambodia
 id = 5531, text = Dubai
 id = 5474, text = Philippines
 id = 5403, text = United Arab Emirates
 id = 5724, text = Georgia
 id = 5428, text = Hong Kong
 id = 5432, text = India
 id = 5498, text = Indochina
 id = 5434, text = Indonesia
 id = 5436, text = Iraq
 id = 5438, text = Iran
 id = 5442, text = Israel
 id = 5444, text = Japan
 id = 5446, text = Jordan
 id = 5716, text = Kazakhstan
 id = 5448, text = China
 id = 5720, text = Kyrgyzstan
 id = 5452, text = Kuwait
 id = 5454, text = Laos
 id = 5456, text = Lebanon
 id = 5533, text = Macao
 id = 5458, text = Malaysia
 id = 5457, text = Maldives
 id = 5487, text = Middle East not stated
 id = 5459, text = Mongolia
 id = 5414, text = Myanmar
 id = 5464, text = Nepal
 id = 5466, text = North Korea
 id = 5462, text = Oman
 id = 5472, text = Pakistan
 id = 5473, text = West bank and Gaza
 id = 5496, text = Qatar
 id = 5478, text = Saudi Arabia
 id = 5480, text = Sikkim
 id = 5482, text = Singapore
 id = 5418, text = Sri Lanka
 id = 5484, text = South Korea
 id = 5486, text = Syria
 id = 5722, text = Tajikistan
 id = 5424, text = Taiwan
 id = 5492, text = Thailand
 id = 5493, text = Trucial Oman
 id = 5718, text = Turkmenistan
 id = 5714, text = Uzbekistan
 id = 5468, text = Vietnam
 id = 5494, text = North Yemen
 id = 5402, text = Yemen
 id = 5471, text = Asia not stated
 id = 5502, text = Australia
 id = 5516, text = Cook Islands
 id = 5508, text = Fiji
 id = 5506, text = French territories in the Pacific
 id = 5274, text = Kiribati
 id = 5248, text = Marshall Islands
 id = 5514, text = New Zealand
 id = 5534, text = Papua New Guinea
 id = 5623, text = Solomon Islands
 id = 5522, text = Samoa
 id = 5505, text = Tonga
 id = 5273, text = Tuvalu
 id = 5275, text = Vanuatu
 id = 5532, text = East Timor
 id = 5599, text = Pacific Islands
 id = 5103, text = Stateless
 id = 5999, text = Not stated

In [34]:
variables = {'OMRÅDE':['*'],'HERKOMST':["*"],"IELAND":["*"],"TID":["*"]}
folk_api = Dst.get_data(table_id = 'FOLK1C', variables=variables)

In [46]:
folk_q1 = folk_api[folk_api["TID"].str.contains("Q1")]

In [60]:
folk_q1["TID"]=pd.to_datetime(folk_q1["TID"])
folk_q1["YEAR"] = folk_q1["TID"].dt.year
folk_q1 = folk_q1.drop(["TID"],axis=1)

/Users/smeden/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/smeden/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [63]:
folk_q1.head()

       OMRÅDE    HERKOMST      IELAND    KØN  ALDER  INDHOLD  YEAR
32959  Herlev  Immigrants      Brazil  Total  Total        7  2011
32960  Herlev  Immigrants      Canada  Total  Total       12  2011
32961  Herlev  Immigrants       Chile  Total  Total        5  2011
32962  Herlev  Immigrants    Colombia  Total  Total        3  2011
32963  Herlev  Immigrants  Costa Rica  Total  Total        1  2011